In [15]:
import pandas as pd
import numpy as np
Pymoli = "Resources/purchase_data.csv"
Pymoli_df = pd.read_csv(Pymoli)

In [16]:
Total_Number_Purchase= Pymoli_df["Price"].count()
Total_Number_Purchase

780

In [17]:
#Purchase Count
print (Pymoli_df["Age"].max())
print (Pymoli_df["Age"].min())

45
7

In [18]:
#BINNING
bins= [0,10,14,19,24,29,34,39,45]
age_group_labels= ["<10","10-14","15-19", "20-24","25-29", "30-34", "35-39", "40+"]

In [19]:
#BINNING
pd.cut(Pymoli_df["Age"], bins, labels=age_group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [20]:
#BINNING
Pymoli_df["Age Group"] = pd.cut(Pymoli_df["Age"], bins, labels=age_group_labels)
Pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [23]:
#GROUPING BY AGE
age_group = Pymoli_df.groupby("Age Group")
Summary_df.index.name=None

In [24]:
#Percent of Purchases by Age Group
Percent_age_purch= (age_group_purch/Total_Number_Purchase)*100
Percent_age_purch

<10       4.102564
10-14     2.435897
15-19    17.435897
20-24    46.794872
25-29    12.948718
30-34     9.358974
35-39     5.256410
40+       1.666667
Name: Purchase ID, dtype: float64

In [25]:
#Average Purchase Price

ave_purch_price= age_group[["Price"]].mean()
ave_purch_price

              Price
Age Group
<10        3.405000
10-14      2.681579
15-19      3.035956
20-24      3.052219
25-29      2.900990
30-34      2.931507
35-39      3.601707
40+        2.941538

In [26]:
#Total Purchase Value
total_purchases=age_group[["Price"]].sum()
total_purchases

             Price
Age Group
<10         108.96
10-14        50.95
15-19       412.89
20-24      1114.06
25-29       293.00
30-34       214.00
35-39       147.67
40+          38.24

In [27]:
# FIND:Average Purchase Total per Person by Age Group
ave_per_player=age_group[["SN", "Price"]].mean()
ave_per_player

              Price
Age Group
<10        3.405000
10-14      2.681579
15-19      3.035956
20-24      3.052219
25-29      2.900990
30-34      2.931507
35-39      3.601707
40+        2.941538

In [29]:
#age_groupings({Percent_age_purch, ave_purch_price,total_purchases,ave_per_player}]

age_group_purch=age_group["Purchase ID"].count()
Percent_age_purch= (age_group_purch/Total_Number_Purchase)*100
ave_purch_price= age_group[["Price"]].mean()
total_purchases=age_group[["Price"]].sum()

Summary_df=pd.DataFrame({"Age Groups":age_group,
                       "Percent Purchase by Age":Percent_age_purch,
                       "Total Purchase Value": total_purchases,
                       "Average Purchase Prices":ave_purch_price
                      })

Summary_df
Summary_df.index.name=None