In [1]:
import pandas as pd
import numpy as np

In [2]:
Pymoli = "Resources/purchase_data.csv"

In [23]:
Pymoli_df = pd.read_csv(Pymoli)

In [4]:
#what does each row/column calculate
Pymoli_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [5]:
#counting the number of players
unique_names = Pymoli_df["SN"].unique()

playercount= len(unique_names)
playercount

576

In [6]:
#total Number of Purchases
Total_Number_Purchase= Pymoli_df["Price"].count()
Total_Number_Purchase

780

In [7]:
#number of unique items
unique_items = Pymoli_df["Item Name"].unique()
number_unique_items= len(unique_items)
number_unique_items

179

In [8]:
# Average Purchase Price
average_price = Pymoli_df["Price"].mean()
average_price

3.050987179487176

In [9]:
# Total Revenue
total_revenue = Pymoli_df["Price"].sum()
total_revenue

2379.77

In [10]:
Summary1=pd.DataFrame({"Total Purchases":Total_Number_Purchase,
                       "Total Players": playercount,
                       "Number of Unique Items":number_unique_items,
                       "Average Purchase Price":average_price,
                       "Total Revenue":total_revenue}, index=[0])

Summary1

,Total Purchases,Total Players,Number of Unique Items,Average Purchase Price,Total Revenue
0,780,576,179,3.050987,2379.77

In [11]:
#START GENDER SEQUENCE

In [12]:
Players_dropped_df=Pymoli_df.drop_duplicates(subset=['SN'])
Players_dropped_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [13]:
#count genders(need to sort by SN)--- USING DROPPED DUPLICATE TABLE


gender= Pymoli_df.groupby("Gender")
gendercount= gender.nunique()["SN"]
gendercount

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [14]:
percent_genders= (gendercount/playercount)*100 
percent_genders

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [15]:
#percent of each gender-- USING DROPPED DUPLICATE TABLE---DONE
male = Players_dropped_df["Gender"].value_counts()['Male']
female = Players_dropped_df["Gender"].value_counts()['Female']
other = Players_dropped_df["Gender"].value_counts()['Other / Non-Disclosed']

percent_male= (male/playercount)*100 
percent_female= (female/playercount)*100 
percent_other= (other/playercount)*100 

print(f"Percents Genders Purchased\n Male: {percent_male}\n Female: {percent_female}\n Other / Non-Disclosed: {percent_other}")

Percents Genders Purchased
 Male: 84.02777777777779
 Female: 14.0625
 Other / Non-Disclosed: 1.9097222222222223

In [16]:

gender_purchase_count = Pymoli_df["Gender"].value_counts()
gender_purchase_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [17]:
#Average Purchase Price by gender

grouped_genders_df= Pymoli_df.groupby("Gender")
ave_purchprice_gender= grouped_genders_df["Price"].mean()
ave_purchprice_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [18]:
#Total Purchase Value by gender--DONE
total_purchvalue_gender= grouped_genders_df["Price"].sum()
total_purchvalue_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [19]:
# FIND:Average Purchase Total per Person by Gender

In [20]:
grouped_genders_purchases_df= Pymoli_df.groupby(["SN","Gender"])
grouped_genders_purchases_df

In [21]:
avegenderpurch_player= grouped_genders_purchases_df["Price"].mean()
avegenderpurch_player

SN             Gender
Adairialis76   Male      2.280000
Adastirin33    Female    4.480000
Aeda94         Male      4.910000
Aela59         Male      4.320000
Aelaria33      Male      1.790000
                           ...
Yathecal82     Female    2.073333
Yathedeu43     Male      3.010000
Yoishirrala98  Female    4.580000
Zhisrisu83     Male      3.945000
Zontibe81      Male      2.676667
Name: Price, Length: 576, dtype: float64

In [22]:
#amount pruchases by gender
gender_purchase_count=Pymoli_df.groupby(["Gender"])
total_gender_purchase=gender_purchase_count.count()["Price"]
#average price by gender
grouped_genders=Pymoli_df.groupby(["Gender"])
ave_purchprice_gender=grouped_genders.mean()["Price"]
#total purchases by gender?*****
total_purchvalue_gender=Pymoli_df.groupby(["Gender"])
sum_purchvalue_gender=total_purchvalue_gender.sum()["Price"]
#average purchase per person
purchper_player=sum_purchvalue_gender/gendercount
#df
Summary2=pd.DataFrame({"Quantity":total_gender_purchase,"Average Price":ave_purchprice_gender,"Total":sum_purchvalue_gender,"Average purchase per person":purchper_player, "Percent Purchase per Gender": percent_genders})
Summary2
# #df formatting
Summary2.index.name=None #takes out Gender on index

Summary2.sort_values(["Quantity"],ascending=True).style.format({'Average Price': "$ {:.2f}",'Total': "$ {:.2f}",'Average purchase per person':"$ {:.2f}",'Percent Purchase per Gender':"{:.2f}%"})