In [1]:
import pandas as pd
import numpy as np
Pymoli = "Resources/purchase_data.csv"
Pymoli_df = pd.read_csv(Pymoli)
Pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
unique_items = Pymoli_df["Item Name"].unique()
number_unique_items= len(unique_items)
number_unique_items

179

In [6]:
# item_count=Pymoli_df["Item Name"].value_counts()
# topfive= item_count.sort_values(ascending=False).head(5)
# topfive

In [4]:
#Top 5 items, price and number of times purchased
topfiveprice_df= Pymoli_df.groupby(["Item ID", "Item Name", "Price"])

item_count=topfiveprice_df["Item Name"].value_counts()
topfive= item_count.sort_values(ascending=False).head(5)
topfive

Item ID  Item Name                                     Price  Item Name
178      Oathbreaker, Last Hope of the Breaking Storm  4.23   Oathbreaker, Last Hope of the Breaking Storm    12
145      Fiery Glass Crusader                          4.58   Fiery Glass Crusader                             9
82       Nirvana                                       4.90   Nirvana                                          9
108      Extraction, Quickblade Of Trembling Hands     3.53   Extraction, Quickblade Of Trembling Hands        9
34       Retribution Axe                               2.22   Retribution Axe                                  8
Name: Item Name, dtype: int64

In [10]:
#FIND: Total Purchase Value (most profitable items)
items=Pymoli_df.groupby(["Item Name"])
sum_purchvalue=items.sum()["Price"]
topfive_most_bought= sum_purchvalue.sort_values(ascending=False).head(5)
topfive_most_bought

Item Name
Final Critic                                    59.99
Oathbreaker, Last Hope of the Breaking Storm    50.76
Nirvana                                         44.10
Fiery Glass Crusader                            41.22
Singed Scalpel                                  34.80
Name: Price, dtype: float64