In [7]:
import pandas as pd
import numpy as np

In [8]:
Pymoli = "Resources/purchase_data.csv"

In [9]:
Pymoli_df = pd.read_csv(Pymoli)
Pymoli_df.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

In [21]:
Total_Number_Purchase= Pymoli_df["Price"].count()
Total_Number_Purchase

780

In [13]:
#Purchase Count
print (Pymoli_df["Age"].max())
print (Pymoli_df["Age"].min())

45
7

In [14]:
#BINNING
bins= [0,10,14,19,24,29,34,39,45]
age_group_labels= ["<10","10-14","15-19", "20-24","25-29", "30-34", "35-39", "40+"]

In [16]:
#BINNING
pd.cut(Pymoli_df["Age"], bins, labels=age_group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [18]:
#BINNING
Pymoli_df["View Age Group"] = pd.cut(Pymoli_df["Age"], bins, labels=age_group_labels)
Pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,View Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [28]:
#GROUPING BY AGE
age_group = Pymoli_df.groupby("View Age Group")

#finding total number of purchases in each age group
age_group_purch=age_group["Purchase ID"].count()
print(age_group_purch)

# Get the average of each column within the GroupBy object
#age_group[["comments", "duration", "languages"]].mean()

View Age Group
<10       32
10-14     19
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [29]:
#Percent of Purchases by Age Group
Percent_age_purch= (age_group_purch/Total_Number_Purchase)*100
Percent_age_purch

View Age Group
<10       4.102564
10-14     2.435897
15-19    17.435897
20-24    46.794872
25-29    12.948718
30-34     9.358974
35-39     5.256410
40+       1.666667
Name: Purchase ID, dtype: float64

In [30]:
#Average Purchase Price

ave_purch_price= age_group[["Price"]].mean()
ave_purch_price

                   Price
View Age Group
<10             3.405000
10-14           2.681579
15-19           3.035956
20-24           3.052219
25-29           2.900990
30-34           2.931507
35-39           3.601707
40+             2.941538

In [31]:
#Total Purchase Value
total_purchases=age_group[["Price"]].sum()
total_purchases

                  Price
View Age Group
<10              108.96
10-14             50.95
15-19            412.89
20-24           1114.06
25-29            293.00
30-34            214.00
35-39            147.67
40+               38.24

In [32]:
# Average Purchase Total per Person by Age Group
ave_per_player=age_group[["SN", "Price"]].mean()
ave_per_player

                   Price
View Age Group
<10             3.405000
10-14           2.681579
15-19           3.035956
20-24           3.052219
25-29           2.900990
30-34           2.931507
35-39           3.601707
40+             2.941538

In [36]:
age_group_df=[{Percent_age_purch, ave_purch_price,total_purchases,ave_per_player}]

TypeError: 'Series' objects are mutable, thus they cannot be hashed