In [20]:
import pandas as pd
import numpy as np
Pymoli = "Resources/purchase_data.csv"
Pymoli_df = pd.read_csv(Pymoli)

In [9]:
Reduced_Pymoli_df= Pymoli_df[["SN", "Price"]].head(780)
Reduced_Pymoli_df

                SN  Price
0          Lisim78   3.53
1      Lisovynya38   1.56
2       Ithergue48   4.88
3    Chamassasya86   3.27
4        Iskosia90   1.44
..             ...    ...
775     Aethedru70   3.54
776         Iral74   1.63
777     Yathecal72   3.46
778        Sisur91   4.19
779      Ennrian78   4.60

[780 rows x 2 columns]

In [16]:
#find the top 5 spenders and total they spent
Sum= Reduced_Pymoli_df.groupby(['SN',])['SN','Price'].transform('sum')
new_df = Sum.drop_duplicates(subset=['SN', 'Price'])
new_df.sort_values("Price", ascending=False).head(5)

C:\Users\jenzy\anaconda4\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                                SN  Price
74   Lisosia93Lisosia93Lisosia93Lisosia93Lisosia93  18.96
290   Idastidru52Idastidru52Idastidru52Idastidru52  15.45
222                 Chamjask73Chamjask73Chamjask73  13.83
128                       Iral74Iral74Iral74Iral74  13.62
148              Iskadarya95Iskadarya95Iskadarya95   13.1

In [17]:
#number of times a player purchased
numplayer_purch=Pymoli_df["SN"].value_counts()
numplayer_purch.sort_values(ascending=False).head(5)

Lisosia93       5
Iral74          4
Idastidru52     4
Yathecal82      3
Chanastnya43    3
Name: SN, dtype: int64

In [ ]:
#Average Purchase Price